:root {
  --DarkBlueIntro: hsl(217, 27%, 15%);
  --DarkBlueMain: hsl(217, 27%, 13%);
  --DarkBlueFooter: hsl(216, 53%, 9%);
  --DarkBlueTestimonials: hsl(219, 30%, 18%);

  --CyanGradient: hsl(176, 68%, 64%);
  --BlueGradient: hsl(198, 60%, 50%);
  --LightRedError: hsl(0, 100%, 63%);

  --White: hsl(0, 0%, 100%);

  --headings-font: "Raleway", sans-serif;
}
