mixin card(text, img, name, job)
  .card 
    p.card__text= text
    .card__info 
      img(src=`./assets/images/${img}`, alt="avatar").card__img
      .card__author
        p.card__name= name 
        p.card__job= job